{% extends 'base.html.twig' %}

{% block title %}
	Outbox
{% endblock %}

{% block body %}
	<nav>
		<a href=" {{ path('inbox') }} ">Inbox</a>
		<a href=" {{ path('profile') }} ">Profile</a>
		<a href=" {{ path('send_message') }} ">Send Message</a>
		<a href=" {{ path('app_logout') }} ">Logout</a>
	</nav>

	<div>
		<h1>Outbox</h1>

		{% for message in outbox_message %}
			<div style="width: 18rem; border: 1px solid black; margin: 10px; overflox: hidden">
				<div>
					{% for user in users %}
						{% if user.id == message.receiver %}
							<h6>{{ user.email }}</h6>
						{% endif %}
					{% endfor %}
					<p>{{ message.message }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
